<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>product_detail</title>
<link href="https://ifh.cc/g/NdOrVp.png" rel="icon">
<link rel="stylesheet" href="/css/product/newMain.css">
</head>
<body>
<!-- nav 고정 -->
    <nav id="navBox">
        <img id="cate-img" src="https://ifh.cc/g/zRKsd8.jpg" alt="용품메인이미지">
            <ul class="category">
                <li>ALL</li>
                <li>텐트</li>
                <li>침낭/매트</li>
                <li>테이블/의자</li>
                <li>식기</li>
                <li>기타</li>
            </ul>
    </nav>
    
    
    
<!-- footer 고정 -->
    <footer id="footer">
        <img class="footer" src="https://ifh.cc/g/NMjHLc.png" alt="푸터박스">
    </footer>
</body>
</html>