<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>product_detail</title>
<link href="https://ifh.cc/g/NdOrVp.png" rel="icon">
<link rel="stylesheet" href="/css/product/newMain.css">
<script>
	$(document).ready(async function(){
		const pCode = getpCode();
		const test1 = await $.ajax({
			url:"/product/detail",
			data:{pCode}
		});
		
		printProduct(test1);
		
        $('#minus').click(function(e){
            e.preventDefault();
            let stat = $('#numberUpDown').text();
            let  num = parseInt(stat,10);
            num--;
            if(num<=0){
                alert('최소 주문은 한 개 이상입니다.');
                num =1;
            }
            $('#numberUpDown').text(num);
        });
		
        $('#plus').click(function(e){
            e.preventDefault();
            let stat = $('#numberUpDown').text();
            let num = parseInt(stat,10);
            num++;
            if(num>8){
                alert('더 이상 늘릴 수 없습니다.');
                num=8;
            }
            $('#numberUpDown').text(num);
        });
        
        let sum = 0;
    	$('.num').on('click', function() {
        	$(this).each(function() {
            	sum += parseInt($(this).text());
            })
            $('.total').text(sum);
        });
        $('.reset').on('click', function() {
        	sum = 0;
        	$('.total').text(sum);
        });
		
	})
	
	function getpCode() {
		const pCode = location.search.substring(7);
		if(isNaN(pCode)) {
			alert("상품을 찾을 수 없습니다");
			location.href = "/";
		}
		return pCode;
	}
	
	
	function printProduct(product){
		console.log(product);
		const img = $("<div>").attr("value",product.pmainImg).attr("class","product").appendTo("#img")
		$("<img>").attr("src", product.pmainImg).attr("class","pmainImgClass2").appendTo(img);
		
		$("<li>").text("브랜드 : "+product.pbrand).appendTo("#detail");
		$("<li>").text("상품명 : "+product.pname).appendTo("#detail");
		$("<li>").text("가격 : "+product.pprice+"원").appendTo("#detail");
		$("<li>").text("평점 : "+product.pstarAvg).appendTo("#detail");
	}
	
	
</script>
</head>
<body>
<!-- nav 고정 -->
    <nav id="navBox">
        <img id="cate-img" src="https://ifh.cc/g/zRKsd8.jpg" alt="용품메인이미지">
            <ul class="category">
                <li>ALL</li>
                <li>텐트</li>
                <li>침낭/매트</li>
                <li>테이블/의자</li>
                <li>식기</li>
                <li>기타</li>
            </ul>
    </nav>

<!-- 용품 상세페이지 -->
	<!--  용품이미지 -->
	<div id="img">
	</div>

	<!-- 용품정보 -->
	<ul id="detail">
	</ul>
	
	<!-- 수량 -->
	<div class="number">
        <input type="button" value="-" id="minus" class="num">
        <span id="numberUpDown">1</span>
        <input type="button" value="+" id="plus" class="num">
    </div>
	
	<div class="total">TOTAL : ${product.pprice}</div>
	
	<!-- 장바구니 버튼 -->
	<div>
		<button>장바구니</button>
		<button>구매하기</button>
	</div>
	<br>
	<br>
	
    <!-- 상세,한줄평,1:1문의 버튼 -->
    <div id="buttons">
    	<button type="button" class="btn btn-light" id="detailPage">상세정보</button>
    	<button type="button" class="btn btn-light" id="review">한줄평</button>
    	<button type="button" class="btn btn-light" id="qna">1:1문의</button>
    </div>
    
    
<!-- footer 고정 -->
    <footer id="footer">
        <img class="footer" src="https://ifh.cc/g/NMjHLc.png" alt="푸터박스">
    </footer>
</body>
</html>
