<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>CAMPASS</title>

<link href="https://ifh.cc/g/NdOrVp.png" rel="icon">
<link rel="stylesheet" href="/css/product/newMain.css">
<script>
	$(document).ready(async function(){
		/* 페이징 */
		const apiUrl = '/product/list';
		const pageno = getPageno();
		const params = {pageno : pageno, pCode : 1};
		const response = await $.ajax({url: apiUrl, data: params}).done((response)=>{
		}).fail((error)=>{
			console.log(error);
		});
		console.log(response.productList)
		for(const list of response.productList){
			const b = $("<tr>").attr("value",list.pcode).attr("class","sangpum").appendTo("#list")
						
			const i = $("<td>").appendTo(b);
			$("<img>").attr("src", list.pmainImg).attr("class","pmainImgClass").appendTo(i);
			$("<td>").text("상품명 : "+list.pname).appendTo(b);
			$("<td>").text("가격 : "+list.pprice+"원").appendTo(b);
		} 
		
		$(document).on("click", ".sangpum", function(){
			location.href ="/product/read?pcode=" + $(this).attr("value")
		})
		
		console.log(response.pageno);
		const paging = {pageno : response.pageno, pagesize : response.pagesize, totalcount : response.totalcount}
		const pagination = getPagination(paging);

		printPagination(pagination);
	})
	
	//페이징
		function getPageno() {
			const pageno = location.search.substring(8)

			if(pageno==null)
				return 1;
			if(isNaN(pageno))
				return 1;
			if(pageno<1)
				return 1;
			return pageno;
		}
	
	// prev, start, end, next 계산
		function getPagination({pageno, pagesize, totalcount, blocksize = 4}) {
			const countOfPage = Math.ceil(totalcount / pagesize);
			const prev = Math.floor((pageno - 1) / blocksize) * blocksize;
			const start = prev + 1;
			let end = prev + blocksize;
			let next = end + 1;
			if (end >= countOfPage) {
				end = countOfPage;
				next = 0;
			}
			return {pageno, prev, start, end, next};
		}

		// pagination 출력
		function printPagination({pageno, prev, start, end, next}) {
			console.log("=============")
			console.log(prev);
			console.log(start);
			const pagination_li = $('.pagination li');
			for (let i = start; i <= end; i++) {
				const $li = $(pagination_li[i]);
				$li.css('display', 'block').children('a').attr("href", "/product?pageno=" + i).text(i);
				if (i === pageno)
					$li.addClass('active');
			}
		}

</script>
</head>
<body>
 <!-- 고정 -->
    <nav id="navBox">
        <img id="cate-img" src="https://ifh.cc/g/zRKsd8.jpg" alt="용품메인이미지">
            <ul class="category">
                <li>ALL</li>
                <li>텐트</li>
                <li>침낭/매트</li>
                <li>테이블/의자</li>
                <li>식기</li>
                <li>기타</li>
            </ul>
    </nav>

<!-- section02 : 용품 리스트  -->
	<div id="list">
	</div>

	<ul class="pagination">
		<li class='page-item'><a class='page-link'></a></li>
		<li class='page-item'><a class='page-link'></a></li>
		<li class='page-item'><a class='page-link'></a></li>
		<li class='page-item'><a class='page-link'></a></li>
		<li class='page-item'><a class='page-link'></a></li>
	</ul>	
				
<!-- 고정 -->
    <footer id="footer">
        <img class="footer" src="https://ifh.cc/g/NMjHLc.png" alt="푸터박스">
    </footer>
</body>
</html>