<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Insert title here</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
</script>
</head>
<body>

이름 : <input id="bname">
아이디 : <input id="username">
비밀번호 : <input id="bpassword"> <button>변경</button>
이메일 : <input id="bemail">  <button>변경</button>
닉네임 : <input id="bnickname">  <button>변경</button>

</body>
</html>