@charset "UTF-8";

/* nav */
#cate-img{
	width:100%;
    }

.category {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: bold;
    color: #545454;
    list-style-type: none;
    /* padding: 0,0; */
    }

.category li {
    display: inline-block;
    margin-right: 70px;
    font-size: 15px;
    }

.category li:hover {
    font-weight: bold;
    color: #FF375B;
    }
    
/* 목록 */
#list {
	text-align:center;
	
}

#list tr{
	vertical-align:middle;
	
}    

#list td{
	list-style-type: none;
}    
    
.pmainImgClass {
	width:200px;
	height:200px;
}

#detail{
	list-style-type: none;
}

.pmainImgClass2{
	width:400px;
	height:400px;
}
    
/* pagination */
.pagination {
	display: flex;
	justify-content: center;
	}

.pagination li {
	display: none;
	}

/* footer */
#footer .footer {
    width:100%;
    }