@charset "UTF-8";


/* nav */
#cate-img{
	width:100%;
    }

.category {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: bold;
    color: #545454;
    list-style-type: none;
    /* padding: 0,0; */
    }

.category li {
    display: inline-block;
    margin-right: 70px;
    font-size: 15px;
    }

.category li:hover {
    font-weight: bold;
    color: #FF375B;
    }

    /* footer */
#footer .footer {
    width:100%;
    }