<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- nav 고정 -->
    <nav id="navBox">
        <a href="http://localhost:8087/product"><img id="cate-img" src="https://ifh.cc/g/zRKsd8.jpg" alt="용품메인이미지"></a>
            <ul class="category">
                <li><a href="javascript:All()">ALL</a></li>
                <li><a href="javascript:tent()">텐트</a></li>
                <li><a href="javascript:mat()">침낭/매트</a></li>
                <li><a href="javascript:table()">테이블/의자</a></li>
                <li><a href="javascript:dish()">식기</a></li>
                <li><a href="javascript:etc()">기타</a></li>
            </ul>
    </nav>
</body>
</html>